
#Unity Compiled
Library/
Temp/
obj/
bin/
Assets/fallingice-packages/
Assets/fallingice-packages.meta
Assets/Resources/
Assets/Resources.meta
Assets/Gizmos/
Assets/Gizmos.meta
Assets/Standard\ Assets/*
Assets/Standard\ Assets.meta