
#Unity Compiled
Packages/
Library/
Temp/
obj/
bin/
Assets/Packages/
Assets/Packages.meta
Assets/Resources/
Assets/Resources.meta
Assets/Gizmos/
Assets/Gizmos.meta
Assets/Standard\ Assets/*
Assets/Standard\ Assets.meta